#components-layout-demo-custom-trigger{
  height : 100vh;
}
#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}
.sidebar-menu{
  background-color: #D48459;
  padding-right : 1px;
  .sidebar-item{
    margin-bottom: 20px !important;
    span{
      color: #fff;
    }
    .sidebar-icon{
      color: #fff;
    }
  }
}
.user-management{
  float: right;
  margin-right : 30px;
  i{
    font-size : 25px;
  }
  .user-name{
    padding-left : 5px;
    font-size : 16px;
    border: none;
    outline: none !important;
    color: black !important;
  }
}
.ant-menu-item-selected{
  background-color: #d7ad9b !important;
  &::after{
    border-right : 3px solid #fff !important;
  }
}
#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  text-align: center;
  font-size : 20px;
  color: white;
  background-color: #D48459;
  margin: 16px;
}
.ant-layout-content{
  background-color: transparent !important;
}
.ant-card-head{
  background-color: transparent;
  color: #D48459;
}
.ant-btn-primary{
  background-color: #D48459;
  border: none;
  outline: none;
  &:focus{
    background-color: #D48459 !important;
  }
  &:hover{
    background-color: #D48459 !important;
  }
}
a{
  color: #D48459 !important;
}
.ant-pagination-item-active{
  border-color: #D48459;
}
.ant-form-item-label{
  display: flex !important;
}
